# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/.qmake.stash
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/Makefile
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/Makefile.Debug
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/Makefile.Release
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/ui_certificateerrordialog.h
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/ui_downloadmanagerwidget.h
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/ui_downloadwidget.h
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/ui_mainwindow.h
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/ui_passworddialog.h
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_browserwindow.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_downloadmanagerwidget.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_downloadtsrunnable.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_downloadwidget.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_mainwindow.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_mqwebengineurlrequestinterceptor.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_predefs.h
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_sig.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_slo.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_tabwidget.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_webpage.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_webpopupwindow.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/moc_webview.cpp
build-qm3u8-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/release/qrc_icons.cpp
